html {
  font-size: 62.5%;
}

:root {
  --heading-font: "DM Serif Display", serif;
  --text-font: "Karla", sans-serif;

  /* COLORS */
  --Dark-Violet: hsl(256, 26%, 20%);
  --Grayish-Blue: hsl(216, 30%, 68%);
  --Very-Dark-Violet: hsl(270, 9%, 17%);
  --Dark-Grayish-Violet: hsl(273, 4%, 51%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: var(--text-font);
  font-size: 1.6rem;
  color: var(--Dark-Grayish-Violet);
}

.container {
  width: 90%;
  max-width: 1110px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
  color: var(--Dark-Violet);
}

h1 {
  color: #fff;
  font-size: 4.8rem;
  letter-spacing: -0.67px;
}

h2 {
  font-size: 4.8rem;
  letter-spacing: -0.67px;
}

h3 {
  font-size: 2.8rem;
  letter-spacing: -0.39px;
}

p {
  font-size: inherit;
}

a {
  text-decoration: none;
  font-family: var(--text-font);
}

@media (min-width: 1024px) {
  h1 {
    font-size: 7.2rem;
    letter-spacing: -1px;
  }

  h2 {
    font-size: 7.2rem;
    letter-spacing: -1px;
  }

  h3 {
    font-size: 3rem;
  }

  p {
    font-size: 1.9rem;
  }
}

/* Feature */
.feature {
  text-align: center;
  margin-bottom: 5.6rem;
}

.feature__heading {
  margin: 3.2rem 0 1.6rem;
}

@media (min-width: 1110px) {
  .feature {
    text-align: left;
  }
}

/* ButtonLink */
.button-link {
  text-transform: uppercase;
  background-color: transparent;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 1.2rem 2.8rem;
  display: inline-block;
  transition: all 0.2s;
}

.link-nav {
  border: 1px solid var(--Very-Dark-Violet);
  color: var(--Very-Dark-Violet);
}

.link-nav:hover {
  background: var(--Very-Dark-Violet);
  color: #fff;
}

.link-hero {
  border: 1px solid #fff;
  color: #fff;
}

.link-hero:hover {
  color: var(--Very-Dark-Violet);
  background-color: #fff;
}

/* FEATURE */
.callout {
  background-color: var(--Dark-Violet);
  text-align: center;
  padding: 6rem 0;
  background-image: url("images/bg-pattern-how-we-work-mobile.svg");
  background-repeat: no-repeat;
  background-position-x: right;
}

.callout__heading {
  color: #fff;
  margin-bottom: 4rem;
  font-size: 4rem;
  letter-spacing: -0.56px;
}

@media (min-width: 768px) {
  .callout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7rem;
    background-image: url("images/bg-pattern-how-we-work-desktop.svg");
  }

  .callout__heading {
    margin: 0;
  }
}
