html {
  font-size: 62.5%;
}

:root {
  --heading-font: "DM Serif Display", serif;
  --text-font: "Karla", sans-serif;

  /* COLORS */
  --Dark-Violet: hsl(256, 26%, 20%);
  --Grayish-Blue: hsl(216, 30%, 68%);
  --Very-Dark-Violet: hsl(270, 9%, 17%);
  --Dark-Grayish-Violet: hsl(273, 4%, 51%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: var(--text-font);
  font-size: 1.6rem;
  color: var(--Dark-Grayish-Violet);
}

.container {
  width: 90%;
  max-width: 1110px;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
  color: var(--Dark-Violet);
}

h1 {
  color: #fff;
  font-size: 4.8rem;
  letter-spacing: -1px;
}

h2 {
  font-size: 4.8rem;
  letter-spacing: -0.67px;
}

h3 {
  font-size: 2.8rem;
  letter-spacing: -0.39px;
}

p {
  font-size: inherit;
}

a {
  text-decoration: none;
  font-family: var(--text-font);
}

@media (min-width: 1024px) {
  h1 {
    font-size: 7.2rem;
    letter-spacing: -1px;
  }

  h2 {
    font-size: 7.2rem;
    letter-spacing: -1px;
  }

  h3 {
    font-size: 3rem;
  }

  p {
    font-size: 1.9rem;
  }
}

/* Feature */
.feature-container {
  margin: 14rem auto;
}
.feature {
  text-align: center;
}

.feature-container h2 {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 7.5rem;
}

.feature__heading {
  margin: 3.2rem 0 1.6rem;
}

@media (min-width: 768px) {
  .feature-container {
    margin: 15.8rem auto;
  }
  .feature {
    text-align: left;
  }

  .grid-1x3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
  }
  .feature-container h2 {
    text-align: left;
    margin-top: 6rem;
    margin-bottom: 9rem;
  }
}

/* ButtonLink */
.button-link {
  text-transform: uppercase;
  background-color: transparent;
  font-weight: bold;
  font-size: 1.3rem;
  padding: 1.2rem 2.8rem;
  display: inline-block;
  transition: all 0.2s;
  white-space: unset;
}

.link-nav {
  border: 1px solid var(--Very-Dark-Violet);
  color: var(--Very-Dark-Violet);
}

.link-nav:hover {
  background: var(--Very-Dark-Violet);
  color: #fff;
}

.link-hero {
  border: 1px solid #fff;
  color: #fff;
}

.link-hero:hover {
  color: var(--Very-Dark-Violet);
  background-color: #fff;
}

/* FEATURE */
.callout {
  background-color: var(--Dark-Violet);
  text-align: center;
  padding: 6rem 2rem;
  background-image: url("images/bg-pattern-how-we-work-mobile.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  margin-bottom: 14rem;
}

.callout__heading {
  color: #fff;
  font-size: 4rem;
  letter-spacing: -0.56px;
  line-height: 56px;
  margin-bottom: 4rem;
}

@media (min-width: 768px) {
  .callout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    padding: 7rem;
    gap: 7rem;
    background-image: url("images/bg-pattern-how-we-work-desktop.svg");
  }

  .callout__heading {
    margin: 0;
    max-width: 400px;
  }
}

/* FOOTER */
footer {
  background-color: var(--Very-Light-Gray);
}

.footer__media {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid #dadada;
  margin-bottom: 5rem;
}

.media-icons {
  width: 144px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .footer__media {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* GRIDS*/

.grid {
  display: grid;
}
/* FOOTER*/

footer {
  padding: 8rem 0;
  background-image: url("images/bg-pattern-footer-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: center;
  background-position-y: top;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin-bottom: 1.4rem;
}

a {
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 1.5px;
  color: var(--Dark-Violet);
}

.footer__links a:hover {
  text-decoration: underline;
}

.footer__links h4 {
  margin-bottom: 2.5rem;
}

@media (max-width: 767px) {
  .footer__links {
    text-align: center;
  }
  .grid {
    justify-items: center;
    row-gap: 4rem;
  }
}

@media (min-width: 768px) {
  .grid-4x1 {
    grid-template-columns: repeat(4, 1fr);
  }
  footer {
    padding: 6rem 0;
    background-image: url("images/bg-pattern-footer-desktop.svg");
    background-position-y: top;
    background-position-x: left;
    background-size: auto;
  }
  .footer__links h4 {
    margin-bottom: 3.4rem;
  }
}

/* HERO */

.hero {
  background-color: var(--Dark-Violet);
  color: #fff;
}

.hero .grid {
  padding-bottom: 8.5rem;
}

.hero__image {
  width: 100%;
}

.hero__image-container {
  order: 1;
}

.hero__content {
  order: 2;
  text-align: center;
  margin-top: 8.5rem;
  padding: 0 1.5rem 8.5rem;
  background-image: url("public\images\bg-pattern-intro-right-mobile.svg")
    url("public\images\bg-pattern-intro-left-mobile.svg");
}

.hero__content h1 {
  line-height: 48px;
  margin-bottom: 1.6rem;
}

.hero__content p {
  margin-bottom: 3.2rem;
}

@media (min-width: 768px) {
  .hero {
    background-image: url("images/bg-pattern-intro-right-desktop.svg"),
      url("images/bg-pattern-intro-left-desktop.svg");
    background-repeat: no-repeat;
    background-position: top right, bottom left;
    height: auto;
    height: 52rem;
  }

  .grid-1x2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    padding-top: 9rem;
    max-width: 1110px;
    width: 90%;
    margin: 0 auto;
  }

  .hero__image-container {
    order: 2;
  }

  .hero__content {
    order: 1;
    text-align: left;
    align-self: start;
    padding: 0;
    margin: 0;
  }

  .hero__content h1 {
    line-height: 64px;
    padding-top: 6rem;
  }

  .hero__content p {
    margin-bottom: 2.4rem;
  }

  .underline {
    border: 1px solid #fff;
    width: 150px;
    margin-bottom: auto;
  }

  .hero .grid {
    padding-bottom: 0;
  }
}

/* Navbar */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1.8rem 0;
  max-width: 1110px;
  margin: 0 auto;
}

.nav__links {
  width: 100%;
  text-align: center;
  background-color: var(--Very-Dark-Violet);
  padding-top: 3.8rem;
  background-image: url("images/bg-pattern-mobile-nav.svg");
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: center;
  background-size: 100%;
  height: 100vh;
  transition: all 0.28s;
}

@media (max-width: 767px) {
  .nav__links {
    position: absolute;
    left: 0;
    top: 68px;
  }
  .collapsable-nav {
    transform: translateX(-100%);
  }
}

.nav__links a {
  color: #fff;
  width: 90%;
}

.nav__links a:hover {
  color: var(--Dark-Grayish-Violet);
}

.nav__links .link-nav {
  border-color: #fff;
}

.nav__links .link-nav:hover {
  background-color: #fff;
  color: var(--Very-Dark-Violet);
  text-decoration: none;
}

.nav__logo {
  margin-left: 1rem;
}

.toggle-container {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

@media (min-width: 768px) {
  nav {
    flex-wrap: nowrap;
  }

  .toggle-container {
    display: none;
  }

  .collapsable-nav {
    transform: translateX(0);
  }

  .nav__links {
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
    padding-top: 0;
    background-color: transparent;
    margin-right: 1rem;
    background-image: none;
  }

  .nav__links a {
    color: var(--Dark-Grayish-Violet);
  }

  .nav__links a:hover {
    color: var(--Very-Dark-Violet);
  }

  .nav__links li {
    margin: 0 2rem 0 0;
  }

  .nav__links li:last-child {
    margin: 0;
  }

  .nav__links .link-nav {
    white-space: nowrap;
    border-color: var(--Very-Dark-Violet);
    color: var(--Very-Dark-Violet);
  }

  .nav__links .link-nav:hover {
    color: #fff;
    background-color: var(--Very-Dark-Violet);
  }
}
